/* import font family  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* default css style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body font family */

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 74rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.hero-section {
  background-image: url("../src/assets/hero-img/hero-img.jpg");
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  right: 15px;
  top: 55%;
  transform: translate(-50%, -50%) !important;
}

.title-bg {
  filter: brightness(0) invert(1);
}

/* main button   */

.hero-cta::after {
  content: "";
  width: 200px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.362);
  position: absolute;
  top: -12px;
  left: 12px;
  transition: all 0.4s;
}

.hero-cta:hover:after {
  content: "";
  width: 200px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.362);
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s.;
}

/* About Page Background Image  */

.about-section {
  background-image: url("../src/assets/who-we-are/background.jpg");
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-item-div {
  transition: all 0.2s;
}

.card-item-div:hover {
  background-image: url("../src/assets/who-we-are/info-card-bg.jpg");
  pbackground-repeat: no-repeat;
  width: full;
  background-size: cover;
  object-fit: cover;
  color: #fff;
}

.about-cta {
  padding: 5px;
  transition: all 0.3s;
}

.about-cta::after {
  content: "";
  width: 200px;
  height: 55px;
  border: 1px solid rgba(63, 63, 63, 0.362);
  position: absolute;
  top: -12px;
  left: 12px;
  transition: all 0.4s;
}

.about-cta:hover:after {
  content: "";
  width: 200px;
  height: 55px;
  border: 1px solid #ff0336;
  position: absolute;
  top: -0px;
  left: 0px;
  transition: all 0.4s;
}

/* about girl side   */

.girl-running {
  width: 100%;
  height: auto;
  position: absolute;
  right: 46%;
  top: 60%;
  transform: translate(50%, -50%);
  width: 100%;
  z-index: 5;
}

.girl-bg {
  width: 67%;
  height: auto;
  position: absolute;
  top: 65.7%;
  right: 33%;
  transform: translate(50%, -50%);
}

.girl-bg-text {
  width: 21%;
  height: auto;
  top: 65.7%;
  right: 93%;
  transform: translate(50%, -50%);
  position: absolute;
}

.girl-wind-icon {
  width: 20%;
  height: about;
  top: 62.7%;
  right: 29%;
  transform: translate(50%, -50%);
  position: absolute;
}

/* feature grid components  */

/* after pseudo */
.item-0-div::after,
.item-1-div::after,
.item-2-div::after,
.item-3-div::after,
.item-4-div::after,
.item-5-div::after {
  content: "";
  height: 69px;
  width: 140px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: -49px;
  bottom: 50%;
  border-radius: 0 50px 50px 0;
  transform: rotate(30deg);
  transition: all 0.4s;
  z-index: 5;
}

.item-0-div:hover:after,
.item-1-div:hover:after,
.item-2-div:hover:after,
.item-3-div:hover:after,
.item-4-div:hover:after,
.item-5-div:hover:after {
  background-color: rgba(255, 255, 255);
}

/* before pseudo */

.item-0-div::before,
.item-1-div::before,
.item-2-div::before,
.item-3-div::before,
.item-4-div::before,
.item-5-div::before {
  width: 50%;
  position: absolute;
  transition: all 0.4s;
  z-index: 6;
  display: block;
  transform: scale(0.65);
}

.item-0-div::before {
  content: url("../src/assets/features/gym-bike.png");
  left: -25px;
  bottom: 45%;
}
.item-1-div::before {
  content: url("../src/assets/features/karate.png");
  left: 5px;
  bottom: 43%;
}
.item-2-div::before {
  content: url("../src/assets/features/dumbbell.png");
  left: 5px;
  bottom: 43%;
}
.item-3-div::before {
  content: url("../src/assets/features/yoga.png");
  left: 5px;
  bottom: 43%;
}
.item-4-div::before {
  content: url("../src/assets/features/boxer.png");
  left: 5px;
  bottom: 43%;
}
.item-5-div::before {
  content: url("../src/assets/features/workout.png");
  left: -25px;
  bottom: 43%;
}

.item-0-div:hover:before,
.item-1-div:hover:before,
.item-2-div:hover:before,
.item-3-div:hover:before,
.item-4-div:hover:before,
.item-5-div:hover:before {
  transform: scale(0.66);
}

.item-0-div:hover:before {
  content: url("../src/assets/features/bike-red.png");
}
.item-1-div:hover:before {
  content: url("../src/assets/features/karate-red.png");
}
.item-2-div:hover:before {
  content: url("../src/assets/features/dumb-red.png");
}
.item-3-div:hover:before {
  content: url("../src/assets/features/yoga-red.png");
}
.item-4-div:hover:before {
  content: url("../src/assets/features/boxer-red.png");
}
.item-5-div:hover:before {
  content: url("../src/assets/features/workout-red.png");
}
/* grid items */

.item-0,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  filter: grayscale(100%);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item-0:hover,
.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
  box-shadow: inset 2px 2pz 8px 160px rgba(0, 0, 0, 0);
}

.item-0-div {
  height: 300px;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  overflow: hidden;
}

.item-1-div {
  height: 300px;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
  overflow: hidden;
}
.item-2-div {
  height: 300px;
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  overflow: hidden;
}
.item-3-div {
  height: 300px;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  overflow: hidden;
}
.item-4-div {
  height: 300px;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  overflow: hidden;
}
.item-5-div {
  height: 300px;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 5;
  overflow: hidden;
}

.item-0 {
  background-image: url("../src/assets/features/cycling.jpg");
  width: 100%;
  height: 100%;
}

.item-1 {
  background-image: url("../src/assets/features/karate.jpg");
  width: 100%;
  height: 100%;
}

.item-2 {
  background-image: url("../src/assets/features/power.jpg");
  width: 100%;
  height: 100%;
}
.item-3 {
  background-image: url("../src/assets/features/meditation.jpg");
  width: 100%;
  height: 100%;
}
.item-4 {
  background-image: url("../src/assets/features/mma.jpg");
  width: 100%;
  height: 100%;
}
.item-5 {
  background-image: url("../src/assets/features/workout.jpg");
  width: 100%;
  height: 100%;
}

/* featured boottom section in features section */

.featured-bottom {
  background-image: url(../src/assets/features/cta-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 21rem;
}

/* choose us section */

.choose-us {
  background-image: url("../src/assets/choose-us/choose-bg.jpg");
  object-fit: cover;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.video::before {
  content: "";
  height: 461px;
  width: 10px;
  background-color: #ff0336 !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(174deg);
  transform: translateY(-50%) rotate(174deg);
  right: 10px;
}

.video::after {
  content: "";
  height: 261px;
  width: 10px;
  background-color: #ff0336 !important;
  position: absolute;
  bottom: 6%;
  left: -30px;
}

/* choice cta / main button */
.choice-cta {
  margin-top: 4rem;
  transition: all 0.4s;
}
.choice-cta::after {
  border: 2px solid rgba(89, 89, 89, 0.5) !important;
}

.choice-cta:hover:after {
  border: 2px solid #ff0336 !important;
}

.trainer-section {
  background-image: url("../src/assets/trainers/dot-bg.png");
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.trainer-section::after {
  content: url("../src/assets/trainers/bg-attachment.png") !important;
  position: absolute;
  top: 0;
  right: 0;
}

.desc-box::after {
  content: "";
  width: 45px;
  height: 4px;
  background-color: #ff0336;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

.desc-box:hover:after {
  content: "";
  width: 100%;
  height: 4px;
}

/* testimonials section  */

/* gallery home page section   */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6px;
  height: 100%;
}

#item-0 {
  height: 410px;
  width: 100%;
  background-color: #de89dd;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
  background-image: url("../src/assets/gallery/img1.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#item-1 {
  background-color: #f7d9ab;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 5;
  background-image: url("../src/assets/gallery/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: 0px -131px;
}

#item-2 {
  background-color: #bc775e;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 5;
  background-image: url("../src/assets/gallery/img5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#item-3 {
  background-color: #a89ce7;
  grid-column-start: 1;
  grid-row-start: 3;

  grid-column-end: 2;
  grid-row-end: 3;

  background-image: url("../src/assets/gallery/img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#item-4 {
  background-color: #dc9f7c;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;

  background-image: url("../src/assets/gallery/img4.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* bmi section  */

.bmi-section {
  background-image: url("../src/assets/bmi/background.jpg");
  background-position: center right;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* pricing section  */
